.playground {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 500px;
    width: 70%;
}

.controls {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #eee;
    overflow-y: scroll;
    min-width: 300px;
    text-align: center;
}

.controls > div {
    border-bottom: thin solid teal;
    margin: .2em;
    padding: .2em;
}

.controls label {
    display: block;
}